In [1]:
import pandas as pd

calgary_weather_data_one_path = "./datasets/calgary_weather_data_20180101_20220101.csv"
calgary_weather_data_two_path = "./datasets/calgary_weather_data_20220101_20250101.csv"

cw1_df = pd.read_csv(calgary_weather_data_one_path, encoding="latin-1")
cw2_df = pd.read_csv(calgary_weather_data_two_path, encoding="latin-1")

cw1_df = cw1_df[["Station Name", "Date (Local Standard Time)", "Air Temp. Avg. (°C)"]]
cw2_df = cw2_df[["Station Name", "Date (Local Standard Time)", "Air Temp. Avg. (°C)"]]

cw_df = pd.concat([cw1_df, cw2_df],  ignore_index=True)
display(cw_df.head())

       Station Name Date (Local Standard Time)  Air Temp. Avg. (°C)
0  Calgary Int'L CS               January-2018                 -6.9
1  Calgary Int'L CS              February-2018                -12.4
2  Calgary Int'L CS                 March-2018                 -5.8
3  Calgary Int'L CS                 April-2018                  1.0
4  Calgary Int'L CS                   May-2018                 14.1

In [2]:
community_crime_statistics_calgary_path = "./datasets/community_crime_statistics_calgary.csv"

ccsc_df = pd.read_csv(community_crime_statistics_calgary_path)


display (ccsc_df)

         Community                          Category  Crime Count  Year  Month
0              01B            Assault (Non-domestic)            1  2022     11
1              01B        Break & Enter - Commercial            1  2019      6
2              01B        Break & Enter - Commercial            1  2019      8
3              01B        Break & Enter - Commercial            2  2020      3
4              01B        Break & Enter - Commercial            2  2020      7
...            ...                               ...          ...   ...    ...
75590  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2022      6
75591  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2022      8
75592  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2023      2
75593  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2023      7
75594  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2023     12

[75595 rows x 5 columns]

In [5]:
communities_by_ward_calgary_path = "./datasets/communities_by_ward_calgary.csv"
coms_ward_df = pd.read_csv(communities_by_ward_calgary_path)

coms_ward_df = coms_ward_df[["NAME", "WARD_NUM"]]

display(coms_ward_df)

                  NAME  WARD_NUM
0             CRANSTON        12
1             PARKHILL         8
2     CRESCENT HEIGHTS         7
3            ROYAL OAK         1
4          ALPINE PARK        13
..                 ...       ...
307      SOUTH CALGARY         8
308   BURNS INDUSTRIAL         9
309          MIDNAPORE        14
310          PATTERSON         6
311  GREAT PLAINS EAST         9

[312 rows x 2 columns]

In [ ]:
## For Prince

In [ ]:
## For Ravin

In [ ]:
## For Joshua