In [6]:
import pandas as pd

calgary_weather_data_one_path = "./datasets/calgary_weather_data_20180101_20220101.csv"
calgary_weather_data_two_path = "./datasets/calgary_weather_data_20220101_20250101.csv"

cw1_df = pd.read_csv(calgary_weather_data_one_path, encoding="latin-1")
cw2_df = pd.read_csv(calgary_weather_data_two_path, encoding="latin-1")

cw1_df = cw1_df[["Station Name", "Date (Local Standard Time)", "Air Temp. Avg. (°C)"]]
cw2_df = cw2_df[["Station Name", "Date (Local Standard Time)", "Air Temp. Avg. (°C)"]]

cw_df = pd.concat([cw1_df, cw2_df],  ignore_index=True)

cw_df[['Month', 'Year']] = cw_df['Date (Local Standard Time)'].str.split('-', expand=True)

cw_df['Month'] = pd.to_datetime(cw_df['Month'], format='%B').dt.month

cw_df['Year'] = cw_df['Year'].astype(int)

cw_df['Avg Temp'] = cw_df['Air Temp. Avg. (°C)'].astype(float)

cw_df = cw_df.drop(columns=['Date (Local Standard Time)', 'Air Temp. Avg. (°C)'])

display(cw_df.head())

       Station Name  Month  Year  Avg Temp
0  Calgary Int'L CS      1  2018      -6.9
1  Calgary Int'L CS      2  2018     -12.4
2  Calgary Int'L CS      3  2018      -5.8
3  Calgary Int'L CS      4  2018       1.0
4  Calgary Int'L CS      5  2018      14.1

In [7]:
community_crime_statistics_calgary_path = "./datasets/community_crime_statistics_calgary.csv"

ccsc_df = pd.read_csv(community_crime_statistics_calgary_path)

display (ccsc_df)

         Community                          Category  Crime Count  Year  Month
0              01B            Assault (Non-domestic)            1  2022     11
1              01B        Break & Enter - Commercial            1  2019      6
2              01B        Break & Enter - Commercial            1  2019      8
3              01B        Break & Enter - Commercial            2  2020      3
4              01B        Break & Enter - Commercial            2  2020      7
...            ...                               ...          ...   ...    ...
75590  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2022      6
75591  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2022      8
75592  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2023      2
75593  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2023      7
75594  CORNERSTONE  Violence  'Other' (Non-domestic)            1  2023     12

[75595 rows x 5 columns]

In [ ]:
communities_by_ward_calgary_path = "./datasets/communities_by_ward_calgary.csv"
coms_ward_df = pd.read_csv(communities_by_ward_calgary_path)

coms_ward_df = coms_ward_df[["NAME", "WARD_NUM"]]

coms_ward_df.rename(columns={"NAME:"COMMUNITY"})

display(coms_ward_df)

                  NAME  WARD_NUM
0             CRANSTON        12
1             PARKHILL         8
2     CRESCENT HEIGHTS         7
3            ROYAL OAK         1
4          ALPINE PARK        13
..                 ...       ...
307      SOUTH CALGARY         8
308   BURNS INDUSTRIAL         9
309          MIDNAPORE        14
310          PATTERSON         6
311  GREAT PLAINS EAST         9

[312 rows x 2 columns]

In [31]:
## For Prince

In [10]:
## For Ravin

community_crime_ward_df = ccsc_df.merge(coms_ward_df[['Community'],['WARD_NUM']], on="Community", how="left")

display(community_crime_ward_df)

InvalidIndexError: (['Community'], ['WARD_NUM'])

In [36]:
## For Joshua

        Station Name  Month  Year  Avg Temp
0   Calgary Int'L CS      1  2018      -6.9
1   Calgary Int'L CS      2  2018     -12.4
2   Calgary Int'L CS      3  2018      -5.8
3   Calgary Int'L CS      4  2018       1.0
4   Calgary Int'L CS      5  2018      14.1
..               ...    ...   ...       ...
81  Calgary Int'L CS      9  2024      14.0
82  Calgary Int'L CS     10  2024       6.7
83  Calgary Int'L CS     11  2024      -3.7
84  Calgary Int'L CS     12  2024      -2.8
85  Calgary Int'L CS      1  2025      -4.4

[86 rows x 4 columns]